<h3 class="text-xl font-bold text-gray-800 mb-4">Select Member for Authorized User Role</h3>
<div class="overflow-x-auto">
  <table class="w-full border-collapse text-sm">
    <thead>
      <tr class="bg-gray-100 text-left">
        <th class="border border-gray-300 px-2 py-1">First</th>
        <th class="border border-gray-300 px-2 py-1">Last</th>
        <th class="border border-gray-300 px-2 py-1">Call</th>
        <th class="border border-gray-300 px-2 py-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @sel_au_from_mbrs.each do |member| %>
      <tr class="odd:bg-white even:bg-gray-50">
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= member[:fname] %></td>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= member[:lname] %></td>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= member[:callsign] %></td>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap">
          <a href="/r/member/show/<%= member[:id] %>" class="text-blue-600 hover:underline text-xs">view</a> |
          <a href="/a/auth_user/role/set/<%= member[:id] %>" class="text-blue-600 hover:underline text-xs">select</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
