<h3 class="text-xl font-bold text-gray-800 mb-4">Authorized Users</h3>
<div class="overflow-x-auto">
  <table class="w-full border-collapse text-sm">
    <thead>
      <tr class="bg-gray-100 text-left">
        <th class="border border-gray-300 px-2 py-1">First</th>
        <th class="border border-gray-300 px-2 py-1">Last</th>
        <th class="border border-gray-300 px-2 py-1">Call</th>
        <th class="border border-gray-300 px-2 py-1">Authorized To</th>
        <th class="border border-gray-300 px-2 py-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @au_list.each do |au| %>
      <tr class="odd:bg-white even:bg-gray-50">
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= au["fname"] %></td>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= au["lname"] %></td>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= au["callsign"] %></td>
        <td class="border border-gray-200 px-2 py-0.5">
          <% roles = au["roles"] %>
          <% if roles == 'na' %>
            <span class="text-gray-400">none</span>
          <% else %>
            <%= roles.join(", ") %>
          <% end %>
        </td>
        <td class="border border-gray-200 px-2 py-0.5">
          <a href="/a/auth_user/role/update/<%= au["mbr_id"] %>" class="text-blue-600 hover:underline text-xs">re-assign</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
