<h2>Details of family units and renewal dates</h2>
<table>
<thead>
  <tr>
    <th>Unit id</th>
    <th>*Active</th>
    <th>Mbr ID</th>
    <th>F Name</th>
    <th>L Name</th>
    <th>Renewal Date</th>
  </tr>
</thead>
  <tbody>
  <%@fam_mbrship_details.each do |fd|%>
    <%row_no = 0%>
    <%fd[:mbrs].each do |d|%>
      <tr>
        <%if row_no == 0%>
          <td><%=fd[:unit_id]%></td>
          <td><%=fd[:active]%></td>
        <%else%>
          <td></td>
          <td></td>
        <%end%>
        <td><%=d[0]%></td>
        <td><%=d[1]%></td>
        <td><%=d[2]%></td>
        <td <%if d[4] == true %>class="renew"<%end%>><%=d[3]%></td>
      </tr>
      <%row_no = row_no + 1%>
    <%end%>
  <%end%>
  </tbody>
</table>
<p>*Active: has at least 2 members (regardless of payment status)