<h3>List of attendees for Event <%=@event.name%> on <%=@event.ts.strftime("%B %d, %Y")%></h3>
Event description: <%=@event.descr%>
<br />
<p>Contact for event: <%="#{@e_contact[:fname]} #{@e_contact[:lname]}, #{@e_contact[:callsign]}"%></p>
<p>Attendees already in our database: <font color=red>Mbrship current in red</font> means these are in active renewal</p>
<table>
<tr>
	<th>First Name</th>
	<th>Last Name</th>
	<th>call</th>
	<th>Mbrship current?</th>
  <th>Attendance this event type</th>
  <th>Attendance all other event types</th>
  <th></th>
</tr>
<%@attendees.each do |mbr|%>
  <tr>
  <td><%=mbr[:fname]%></td>
  <td><%=mbr[:lname]%></td>
  <td><%=mbr[:callsign]%></td>
  <td<%if mbr[:mbrship_renewal_active] %>
          class="renew"
        <%end%>>
        <%if mbr[:mbrship_renewal_date] == 'none'%>
          has not joined
        <%else%>
          <%=mbr[:mbrship_renewal_date] > Date.today ? "yes" : "no"%>
        <%end%>
  </td>
  <td><%=mbr[:attendance][:same]%></td>
  <td><%=mbr[:attendance][:other]%></td>
  <td><a href=<%="/r/member/show/#{mbr[:mbr_id]}"%>>view</a></td>
  </tr>
<%end%>
</table>
<br />
<h3>Email list of attendees</h3>
<%=@attendee_emails%>
<br />
<br />
<%if !@guests.empty?%>
Attendees just added to database enclosed in {} those who aren't in the database enclosed in [] (should these be entered?)'</br>
<%@guests.each do |guest|%>
  <p><%=guest%></p>
<%end%>
<%end%>