<!--see https://stackoverflow.com/questions/4067469/selecting-all-text-in-html-text-input-when-clicked for exception to
inline js used to select contents of input text-->
<br /><h3>Create new event</h3>
<form action='/m/event/create' method='POST' name='new_event' onsubmit="return validateCreateEventForm()">
<label for='event_date'>Date and time of Event (format is 'YYYY-MM-DD HH:MM')</label>
<br /><input type='text' name='event_date' id='event_date' value='<%=Time.now.strftime("%Y-%m-%d %H:%M")%>'>
<br /><label for='general_notes'>Notes for log</label><br />
<textarea name='general_notes' id='general_notes' class='lgtext'></textarea>
<br />
Event Type (this field is required):
<select id="type" name="event_type_id">
  <option value="none" selected>Select event type</option>
  <% for event_type in @event_types %>
    <option value=<%=event_type[:id]%>><%=event_type[:name]%></option>
  <%end%>
</select>
<br/><label for="name">Name of Event</label>
<input type='text' name='name' id='new_type_name'>
<br/><label for="description">Description of event</label>
<input type='text' name='descr'>
<br /><label for="duration">Duration of event (hrs)</label>
<select name='duration' id='duration'>
<option>"none"</option>
<%5.times do |t|%>
  <option><%=t+1%></option>
<%end%>
</select>
<br />Duration units<br />
Hours<input type='radio' name='duration_units' id='durat_hrs' value='hrs'> | 
Days<input type='radio' name='duration_units' id='durat_days' value='days'>
<br/>
<h3>Pick One Event Contact (Organizer column, this field is required) and All Attendees</h3><h4>(note names of other organzers go in the description)</h4>
<br/><label for="guest_notes">Add Attendees with low probability of becoming a member (eg. out of town folks)
</label><br/>(entries separated by a semicolon and no spaces &apos;Guest,First;Guest,Second&apos;)<br/>
<textarea name='guest_notes' id='guest_notes' class='lgtext'></textarea>
<br/><label for="has_guests">Are there Guests to add to the database? Please check in table below to see if they haven&apos;t already been added</label>
<input type='checkbox' name='has_guests' onchange="guestsSet(this)"/>
<div id="message">
At least two of the 4 fields (not including notes) for a guest need to be filled out
<br/><table>
<tr>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Callsign</th>
	<th>Email</th>
	<th>Notes</th>
</tr>
<%count = 0%>
<%5.times do%>
<tr>
  <td><input type='text' name=<%="g#{count}:fname"%> value='*guest first name' onClick="this.select();"></td>
  <td><input type='text' name=<%="g#{count}:lname"%> value='*guest last name' onClick="this.select();"></td>
  <td><input type='text' name=<%="g#{count}:callsign"%> value='*guest callsign' onClick="this.select();"></td>
  <td><input type='text' name=<%="g#{count}:email"%> class='guestEmail' value='*guest email' onClick="this.select();"></td>
  <td><textarea name=<%="g#{count}:notes"%> class='mdtext' onClick="this.select();">*guest notes</textarea></td>
</tr>
<%count = count + 1%>
<%end%>
</table>
</div>
<br/>Enter regular members and new guests here: notes and emails for guests will be made after form is submitted
	<table>
		<tr>
      <th>Organzer</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>call</th>
			<th>attendee</th>
		</tr>
		<% for member in @mbrs %>
		<tr>
		<td><input type='radio' name='mbr_id' value=<%=member[:id]%>></td>
		<td><%=member[:fname]%></td>
		<td><%=member[:lname]%></td>
		<td><%=member[:callsign]%></td>
		<td><input type='checkbox' name='id:<%=member[:id]%>' value='1'/></td>
		</tr>
		<% end %>
	</table>

<input type='submit' value='Submit'/> | <a href="/home">Cancel</a>
</form>    