<br /><h3>Edit event</h3>
<form action='/m/event/create' method='POST' name='edit_event' onsubmit="return validateCreateEventForm()">
<input type='hidden' name='event_id' value='<%=@event.id%>'>
<label for='event_date'>Date and time of Event (format is 'YYYY-MM-DD HH:MM')</label>
<br /><input type='text' name='event_date' value='<%=@event.ts.to_s[0,16]%>'>
<br /><label for='general_notes'>Notes for log</label>
<br /><textarea name='general_notes' id='general_notes' class='lgtext'><%=@pared_notes%></textarea>
<br />
Event Type:
<select id="type" name="event_type_id">
  <% for event_type in @event_types %>
    <option value='<%=event_type[:id]%>' <%if @event[:event_type_id] == event_type[:id]%>selected='selected'<%end%> ><%=event_type[:name]%></option>
  <%end%>
</select>
<br/><label for="name">Name of Event</label>
<input type='text' name='name' id='new_type_name' value='<%=@event[:name]%>'>
<br/><label for="description">Description of event</label>
<input type='text' name='descr' value='<%=@event[:descr]%>'>
<br /><label for="duration">Duration of event (hrs)</label>
<select name='duration' id='duration'>
<option>none</option>
<%5.times do |t|%>
  <option <%if @event[:duration] == t+1%>selected='selected'<%end%>><%=t+1%></option>
<%end%>
</select>
<br />Duration units<br />
Hours<input type='radio' name='duration_units' id='durat_hrs' value='hrs' <%if @event[:duration_units] == 'hrs'%>checked<%end%>> | 
Days<input type='radio' name='duration_units' id='durat_days' value='days' <%if @event[:duration_units] == 'days'%>checked<%end%>>
<br/>
<h3>Pick One Event Contact and All Attendees</h3> (put other organzers in the description)
<br/><label for="guest_notes">Add Guest Attendess separated by a semicolon ';'</label><br/>
<textarea name='guest_notes' id='guest_notes' class='lgtext'><%=@guest_notes%></textarea>
	<table>
		<tr>
      <th>Organzer</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>call</th>
			<th>attendee</th>
		</tr>
		<% for member in @mbrs %>
		<tr>
		<td><input type='radio' name='mbr_id' value=<%=member[:id]%> 
    <%=@event[:mbr_id] == member[:id] ? "checked" : nil%>></td>
		<td><%=member[:fname]%></td>
		<td><%=member[:lname]%></td>
		<td><%=member[:callsign]%></td>
		<td><input type='checkbox' name='id:<%=member[:id]%>' value='1' 
    <%=@mbrs_attending.include?(member[:id]) ? "checked" : nil%>/></td>
		</tr>
		<% end %>
	</table>

<input type='submit' value='Submit'/> | <a href="/home">Cancel</a>
</form>    