<h3 class="text-xl font-bold text-gray-800 mb-4">Events: <%= @event_type %></h3>
<div class="overflow-x-auto">
  <table class="w-full border-collapse text-sm">
    <thead>
      <tr class="bg-gray-100 text-left">
        <% if @event_type == 'all' %>
        <th class="border border-gray-300 px-2 py-1 whitespace-nowrap">Event Type</th>
        <% end %>
        <th class="border border-gray-300 px-2 py-1 whitespace-nowrap">Creator</th>
        <th class="border border-gray-300 px-2 py-1 whitespace-nowrap">Contact</th>
        <th class="border border-gray-300 px-2 py-1 whitespace-nowrap">Date</th>
        <th class="border border-gray-300 px-2 py-1 whitespace-nowrap">Duration</th>
        <th class="border border-gray-300 px-2 py-1">Name</th>
        <th class="border border-gray-300 px-2 py-1">Description</th>
        <th class="border border-gray-300 px-2 py-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
      <tr class="odd:bg-white even:bg-gray-50">
        <% if @event_type == 'all' %>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= event.event_type.name %></td>
        <% end %>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= MemberTracker::AuthUser[event.a_user_id].member.callsign %></td>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= "#{MemberTracker::Member[event.mbr_id].lname}, #{MemberTracker::Member[event.mbr_id].callsign}" %></td>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= event.ts.strftime("%m-%d-%y") %></td>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= "#{event.duration} hrs" %></td>
        <td class="border border-gray-200 px-2 py-0.5 max-w-xs truncate"><%= event.name[0, 50] %></td>
        <td class="border border-gray-200 px-2 py-0.5 max-w-xs truncate"><%= event.descr[0, 50] %></td>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap text-xs">
          <a href="/m/event/attendees/show/<%= event.id %>" class="text-blue-600 hover:underline">attendees</a> |
          <a href="/m/event/edit/<%= event.id %>" class="text-blue-600 hover:underline">edit</a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
