<%#
      @unmatched is an array of arrays [{parc-mbr hash}:, {groups.io hash}]
      where the groups.io hash has keys "gio_id" "gio_fn" "gio_email"
      and the par-mbr hash has keys "id", "fname", "lname", "callsign", "email"
	This form has two tables, the first deals with members who have a corresponding
	groups.io account registered in the gio_id field
	the second deals with Groups.io members who have no corresponding member here
	ie. orphans. Params returned with the form have name=mbr_id value=email from the
	first table and name=gio_id, value=mbr_id from the second table
%>
<form action="/m/member/groupsio" method="post">
	<h3>Members with existing Groups.io account</h3>
	<table>
		<tr>
			<th>PARC Name</th>
			<th>call</th>
			<th>PARC email</th>
			<th>Groups.io name</th>
			<th>Groups.io email</th>
			<th>copy to PARC?</th>
		</tr>
		<%gio_orphan = false
		for mbr in @unmatched
			#first element in array is a hash of parc-mbr info unless nil
			if !mbr[0].nil?
		 %>
		<tr>
			<td><%="#{mbr[0][:fname]} #{mbr[0][:lname]}"%></td>
			<td><%=mbr[0][:callsign]%></td>
			<td><%=mbr[0][:email]%></td>
			<td><%=mbr[1]["gio_fn"]%></td>
			<td><%=mbr[1]["gio_email"]%></td>
			<td><input type="checkbox" name=<%=mbr[0][:id]%> value=<%=mbr[1]["gio_email"]%>></td>
		</tr>
		<% else gio_orphan = true; end; end %>
	</table>
	<br />
	<%#only if there are mbrs without a gio account AND gio accounts w/o a corresponding mbr here%>
	<%if @mbrs_wo_gio.length > 0 && gio_orphan == true%>
	<h3>Members with Groups.io account with no database entry here</h3>
	<table>
		<tr>
			<th>Groups.io name</th>
			<th>Groups.io email</th>
			<th>PARC member?</th>
		</tr>
		<%for mbr in @unmatched
			if mbr[0].nil?%>
			<tr>
				<td><%=mbr[1]["gio_fn"]%></td>
				<td><%=mbr[1]["gio_email"]%></td>
				<td><select name=<%="#{mbr[1]['gio_id']}"%>>
					<option value="none" selected>Not Selected</option>
					<%for mbr in @mbrs_wo_gio%>
					<option value=<%="#{mbr[:id]}"%>><%="#{mbr[:fname]} #{mbr[:lname]}"%></option>
					<%end%>
				</select>
				</td>
			</tr>
			<%end;end%>
	</table>
	<%end%>
  <%if !@unmatched.nil?%>
	<input type="submit" value="Update" />
  <%else%>
  <h4>There are no unmatched PARC members with Groups members</h4>
  <%end%>
</form>
<br />
<a href="/home">Cancel</a>
<%#
      @unmatched.each{|mbr|
        if mbr[0].kind_of?(Integer)
          #have a matching member in the database pull it up and update
          parc_mbr = Member[mbr[0]]
          puts "PARC member #{parc_mbr.fname} #{parc_mbr.lname} has new email #{mbr[1]['gio_email']} Add?"
          reply = gets
          if reply.chomp == "y"
            parc_mbr.email = mbr[1]["gio_email"]
            parc_mbr.save
          else
            puts "you said no"
          end
        else
          puts "Groups.io member #{mbr[1]['gio_fn']} with email #{mbr[1]['gio_email']} and groups.io id #{mbr[1]['gio_id']} not found"
        end
      }
%>
