<form action='/m/log/create' method='POST' name='create_log'>
<h4>
<%if @type == 'general'%>
  Creating general log notes
  <input type='hidden' name='action' value='general_log'>  
<%else%>
  Creating log for <%="#{@member.fname} #{@member.lname} #{@member.callsign}"%>
  <br />
  <select name='log_action' id='log_action'>
    <option value=''>Select Log Type</option>
    <% @log_action.each do |type, id| %>
      <option value='<%=id%>'><%=type%></option>
    <% end %>
  </select>
  <input type='hidden' name='mbr_id' value=<%=@member.id%>>
<%end%>
</h4>
<textarea name='notes' id='notes' class='lgtext'></textarea>
<br /><input type='submit' value='Submit'/> | <a href="/home">Cancel</a>
</form>
<% if @type == 'member'%>
<h4>Previous Log notes:</h4>
<%@member.logs_dataset.order(:id).each do |l|%>
  ################################
  <br />Auth User <%="#{l.auth_user.member.fname} #{l.auth_user.member.lname}, #{l.auth_user.member.callsign}"%>
  <p>Date <%=l.ts.strftime("%m-%d-%y")%></p>
  <p><%=l.notes%></p>
<%end%>
<%end%>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const form = document.forms['create_log'];
  if (!form) return;
  form.addEventListener('submit', function(e) {
    const logAction = form.elements['log_action'];
    // Only validate if the select exists (i.e., not a general log)
    if (logAction && logAction.value.trim() === '') {
      alert('Please select a log type.');
      logAction.focus();
      e.preventDefault();
    }
  });
});
</script>