<%case @type%>
<%when 'auth_user'%><h3>Logs you created</h3>
<%when 'all'%><h3>All logs</h3>
<%when 'general'%><h3>General logs</h3>
<%else%>
<%end%>
<br/>
<div>
	<table>
  <thead>
		<tr>
    <% if @logs[0].key?(:mbr_name) %>
			<th>Member</th>
    <% end %>
			<th>Time</th>
      <% if @logs[0].key?(:action) %>
  			<th>Type</th>
      <% end %>
			<th class="notes">Notes</th>
      <% if @logs[0].key?(:au_name) %>
        <th>Auth_user</th>
      <% end %>
		</tr>
    </thead>
    <tbody>
		<% for log in @logs %>
		<tr>
		<%if log.has_key?(:mbr_name)%><td><%=log[:mbr_name]%></td><%end%>
		<td><%=log[:time]%></td>
		<% if @logs[0].key?(:action) %><td><%=log[:action]%></td><%end%>
		<td><%=log[:notes]%></td>
    <% if @logs[0].key?(:au_name) %>
      <td><%=log[:au_name]%></td>
    <% end %>
		</tr>
		<% end %>
    </tbody>
	</table>
</div>
