<h3 class="text-xl font-bold text-gray-800 mb-4">
  <% if @type == 'auth_user' %>Logs You Created
  <% elsif @type == 'all' %>All Logs
  <% elsif @type == 'general' %>General Logs
  <% end %>
</h3>

<div class="overflow-x-auto">
  <table class="w-full border-collapse text-sm">
    <thead>
      <tr class="bg-gray-100 text-left">
        <% if @logs[0].key?(:mbr_name) %>
        <th class="border border-gray-300 px-2 py-1">Member</th>
        <% end %>
        <th class="border border-gray-300 px-2 py-1 whitespace-nowrap">Time</th>
        <% if @logs[0].key?(:action) %>
        <th class="border border-gray-300 px-2 py-1">Type</th>
        <% end %>
        <th class="border border-gray-300 px-2 py-1">Notes</th>
        <% if @logs[0].key?(:au_name) %>
        <th class="border border-gray-300 px-2 py-1">Auth User</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
      <tr class="odd:bg-white even:bg-gray-50 align-top">
        <% if log.has_key?(:mbr_name) %>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap">
          <a href="/r/log/logNote/show/<%= log[:id] %>" class="text-blue-600 hover:underline"><%= log[:mbr_name] %></a>
        </td>
        <% end %>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= log[:time] %></td>
        <% if @logs.first&.key?(:action) %>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= log[:action] %></td>
        <% end %>
        <td class="border border-gray-200 px-2 py-0.5 max-w-xs">
          <%= log[:notes].to_s.length > 80 ? "#{log[:notes].to_s[0, 80]}…" : log[:notes] %>
        </td>
        <% if @logs.first&.key?(:au_name) %>
        <td class="border border-gray-200 px-2 py-0.5 whitespace-nowrap"><%= log[:au_name] %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= pagination_links(@page, @total_pages, request.path_info) %>
