<%case @type%>
<%when 'auth_user'%><h3>Logs you created</h3>
<%when 'all'%><h3>All logs</h3>
<%else%>
<%end%>
<br/>
<div>
	<table>
		<tr>
			<th>Member</th>
			<th>Time</th>
			<th>Type</th>
			<th>Notes</th>
      <% if @logs[0].key?(:au_name) %>
        <th>Auth_user</th>
      <% end %>
		</tr>
		<% for log in @logs %>
		<tr>
		<td><%=log[:mbr_name]%></td>
		<td><%=log[:time]%></td>
		<td><%=log[:action]%></td>
		<td><%=log[:notes]%></td>
    <% if @logs[0].key?(:au_name) %>
      <td><%=log[:au_name]%></td>
    <% end %>
		</tr>
		<% end %>
	</table>
</div>
