<br/>
<h1>Member Actions: <%= @action_type[:descr] %></h1>
<table>
  <thead>
    <tr>
      <th>Member Name</th>
      <th>Authorized User</th>
      <th>Tasked To</th>
      <th>Notes</th>
      <th>Timestamp</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @mbr_actions.each do |ma| %>
      <tr>
        <td><a href="/r/member/show/<%=ma[:target_member_id]%>"><%= ma[:mbr_name] %></a></td>
        <td><%= ma[:a_user_name] %></td>
        <td><%= ma[:tasked_to] %></td>
        <td><%= ma[:notes] %></td>
        <td><%= ma[:ts].strftime("%m/%d/%Y") %></td>
        <td><a href="/m/mbr_actions/edit/<%=ma[:id]%>">edit</a></td>
      </tr>
    <% end %>
  </tbody>
</table>