<%#
:fname	:lname	:email	:city	:street
:zip	:state	:callsign	:phm	:phm_pub
:phh	:phh_pub	:phw	:phw_pub
:license_class	:arrl
:arrl_expire	:ares	:net	:ve	:elmer :sota
%>
<h3>Edit existing OR add new member: <span class="textColor"><%="#{@member[:fname]} #{@member[:lname]}"%></span></h3>
<div id="dup_new_mbr">
<%if !@existing_mbrs.empty?%>
  ########################################<br />
  You have entered a possible duplicate new member
  <br />Here are the similar members already in the database. Please select one to edit<br />
  <% @existing_mbrs.each do |em|%>
    <a href="/m/member/edit/<%=em.id%>"><%="#{em.fname} #{em.lname}, #{em.callsign}"%></a>
  <%end%>
<%end%>
</div>
<form action='/m/member/create' method='POST' name="mbrVitals" onsubmit="return validateMbrForm();">
<br />
  <%if !@existing_mbrs.empty?%>
    <label for="save_override">Or, check here to go ahead and save as a new member</label>
    <input type="checkbox" name="override" id="save_override" value="1" /><br />
    ########################################<br />
  <%end%>
  <%if session[:auth_user_roles].include?('auth_u')%>
  <label for="payment_field">Need to submit payment information for this member?</label>
  <input type="checkbox" name="payment" id="payment_field" value="1" />
  <% end %>
  <br />
	<label for="fname">First*</label>
	<input type="text" name="fname" value="<%=@member[:fname]%>" id="fname" onfocusout="validateFirstName(this)">
	<label for="lname">Last*</label>
	<input type="text" name="lname" value="<%=@member[:lname]%>" id="lname" onfocusout="validateLastName(this)">
	<label for="callsign">Callsign</label>
	<input type="text" name="callsign" value="<%=@member[:callsign]%>" id="callsign" size="10"><br />
  *required field<br />
	<p>Address:</p>
  <input type="hidden" id="old_email" value="<%=@member[:email]%>">
	<label for="email">email*</label>
	<input type="text" name="email" value="<%=@member[:email]%>" id="email" onfocusout="validateEmail(this)" <%if @member[:email_bogus] == true %>class="invalid"<%end%>> |
  	<label for="email_bogus">Is Email Bogus?</label>
  	<input type="hidden" name="email_bogus" value="false">
  	<input type="checkbox" name="email_bogus" id="email_bogus" value="true" <%=@member[:email_bogus] == true  ? "checked='checked'" : nil%>>
	 <br />OK to email about club activities?
   <select id="ok_to_email" name="ok_to_email">
   		<option value="true" <%=@member[:ok_to_email] == true ? "selected" : nil%>>Yes</option>
   		<option value="false" <%=@member[:ok_to_email] == false ? "selected" : nil%>>No</option>
      </select>
  <br /><label for="street">Street</label>
	<input type="text" name="street" value="<%=@member[:street]%>" id="street">
	<label for="city">City</label>
	<input type="text" name="city" value="<%=@member[:city]%>" id="city">
	<label for="state">State</label>
	<input type="text" name="state" value="<%=@member[:state]%>" id="state"><br />
	<label for="fname">Zip Code</label>
	<input type="text" name="zip" value="<%=@member[:zip]%>" id="zip" size="10" onfocusout="validateZip(this)"> format XXXXX-XXXX (last 4 optional)<br />
	<p>Phone: XXX-XXX-XXXX Format</p>
	<label for="phh">Home</label>
	<input type="text" name="phh" value="<%=@member[:phh]%>" id="phh" onfocusout="validatePh(this)">
	<label for="phh_pub">Ok to Publish? (check if Yes)</label>
	<input type="hidden" name="phh_pub" value="0">
	<input type="checkbox" name="phh_pub" id="phh_pub" value="1" <%=@member[:phh_pub]==1  ? "checked" : nil%>><br />
	<label for="phw">Work</label>
	<input type="text" name="phw" value="<%=@member[:phw]%>" id="phw"  onfocusout="validatePh(this)">
	<label for="phw_pub">Ok to Publish?</label>
	<input type="hidden" name="phw_pub" value="0">
	<input type="checkbox" name="phw_pub" id="phw_pub" value="1" <%=@member[:phw_pub]==1  ? "checked" : nil%>><br />
	<label for="phm">Mobile</label>
	<input type="text" name="phm" value="<%=@member[:phm]%>" id="phm"  onfocusout="validatePh(this)">
	<label for="phm_pub">Ok to Publish?</label>
	<input type="hidden" name="phm_pub" value="0">
	<input type="checkbox" name="phm_pub" id="phm_pub" value="1" <%=@member[:phm_pub]==1  ? "checked" : nil%>><br />
	License class <select id="license_class" name="license_class">
    <option value="none" <%=@member[:license_class] == 'none' ? "selected" : nil%>>None</option>
		<option value="tech" <%=@member[:license_class] == 'tech' ? "selected" : nil%>>Tech</option>
		<option value="general" <%=@member[:license_class] == 'general' ? "selected" : nil%>>General</option>
		<option value="extra" <%=@member[:license_class] == 'extra' ? "selected" : nil%>>Extra</option>
		<option value="GMRS" <%=@member[:license_class] == 'GMRS' ? "selected" : nil%>>GMRS</option>
	</select>
	<br />
  First recorded: (YYYY-MM) format
  <input type="text" name="mbr_since" id="mbr_since" onfocusout="validateMbrSince(this)"
    value=<%=(@member[:mbr_since] == '' || @member[:mbr_since].nil?) ? Time.now.strftime("%Y-%m") : @member[:mbr_since].strftime("%Y-%m")%>>
  <br />
  <label for="notes_field">Leave notes for this member here</label>
  <textarea name="notes" id="notes_field" rows="3" cols="65"></textarea>
  <br />
  <% #if we are editing an existing member, new member would only be a hash %>
  <% if @member.is_a?(Hash) == false %>
  <% if @member[:call_request_length] > 1 %>
	<h2>This member has more than one uncompleted call request. Please <a href="/m/mbr_actions/show">correct here</a></h2>
  <% else %>
  <div id="call_back">
  	<label for="member_call">Does this member want a callback?</label>
  	<input type="checkbox" name="callme" id="member_call" 
		<%=@member.member_actions.empty? == true ? nil : "checked"%> />
  	<br />
  	<label for="notes_field">What is the reason for the call?</label>
  	<textarea name="callwhy" id="why_call_field" rows="3" cols="65"><%=@member[:call_request]%></textarea>
  	<br />
  </div>
  <% end %>
  <% end %>
  <% #end editing an existing member %>
  How did this member hear about the club?
  <select id="refer" name="refer_type_id">
    <option value='none'>Don&apos;t know</option>
    <%MemberTracker::ReferType.each do |rt|%>
  		<option value=<%=rt.id%> <%=@member[:refer_type_id] == rt.id ? "selected" : nil%>><%=rt.name%></option>
    <%end%>
  </select>
  <br />(If you don&apos;t see the type that you need to add,
      finish with this member&apos;s entry, visit the create referral page and return to editing this member, 
      <a href=''>or click here to modify referral types directly without saving this member&apos;s data</a>)
  <br />
	<label for="mbrship_renewal_date">Membership Renewal Date (MM/DD/YY)</label>
	<input type="text" name="mbrship_renewal_date" <%if !@member[:mbrship_renewal_date].nil?%>value="<%=@member[:mbrship_renewal_date].strftime("%D")%>"<%end%> id="mbrship_renewal_date" onfocusout="validateMbrRnwlDate(this)">
  <br />
	<p>Other Affiliations and Volunteering</p>
	<label for="arrl">ARRL</label>
	<input type="hidden" name="arrl" value="0">
	<input type="checkbox" name="arrl" id="arrl" value="1" <%=@member[:arrl] == 1  ? "checked='checked'" : nil%> onClick="arrlSet(this);">
	Expire date YYYY-MM-DD <input type="text" name="arrl_expire" id="arrl_expire" value="<%=@member[:arrl_expire]%>"  <%if @member[:arrl] == 0 %>disabled="disabled"<% end %> onfocusout="validateArrlExpDate(this)">
	<br/>
	<label for="ares">ARES</label>
	<input type="hidden" name="ares" value="0">
	<input type="checkbox" name="ares" id="ares" value="1" <%=@member[:ares] == 1  ? "checked='checked'" : nil%>>
	<br />
	<label for="net">Portland NET</label>
	<input type="hidden" name="net" value="0">
	<input type="checkbox" name="net" id="net" value="1" <%=@member[:net] == 1  ? "checked='checked'" : nil%>>
	<br />
	<label for="ve">VE</label>
	<input type="hidden" name="ve" value="0">
	<input type="checkbox" name="ve" id="ve" value="1" <%=@member[:ve] == 1  ? "checked='checked'" : nil%>>
	<br />
	<label for="elmer">Elmer</label>
	<input type="hidden" name="elmer" value="0">
	<input type="checkbox" name="elmer" id="elmer" value="1" <%=@member[:elmer] == 1  ? "checked='checked'" : nil%>>
	<br />
	<label for="sota">SOTA</label>
	<input type="checkbox" name="sota" id="sota" value="1" <%=@member[:sota] == 1  ? "checked='checked'" : nil%>>
	<input type="hidden" name="id" value="<%=@member[:id]%>">
  <p>Modes:
  <%@modes.each do |k,v|%>
  	<label for=<%="mode_#{v}"%>><%="#{v}"%></label>
  	<input type="hidden" name=<%="mode_#{v}"%> value="0">
  	<input type="checkbox" name=<%="mode_#{v}"%> id=<%="mode_#{v}"%> value="1" <%=@member[:modes].include?(k.to_s)  ? "checked='checked'" : nil%>>
  <%end%></p>	<hr />
 	<input type="submit" value="Submit" onsubmit="validateMbrForm()"> | <a href="/r/member/list">Cancel</a>
</form>
