<%#
:fname	:lname	:email	:city	:street
:zip	:state	:callsign	:phm	:phm_pub
:phh	:phh_pub	:phw	:phw_pub
:license_class	:mbr_type	:paid_up	:arrl
:arrl_expire	:ares	:net	:ve	:elmer :sota
%>
<div>
  <h3>Members List: total number listed here: <%=@members.count%></h3>
  <%if @qset%>
  <p>Filters in place</p>
	  <%@qset.each do |k,v|%>
    	<p><%=k%> : value= <%=v%></p>
  	  <%end%>
  <%end%>
</div>
<div>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>call</th>
      <% if @refer_type == 'all' %>
        <th>Referral Type</th>
      <% end %>
			<th></th>
		</tr>
		<% @members.each do |m| %>
		<tr>
		<td><%=m[:fname]%></td>
		<td><%=m[:lname]%></td>
		<td><%=m[:callsign]%></td>
    <% if @refer_type == 'all' %>
      <td><%=MemberTracker::ReferType[m[:refer_type_id]].name%></td>
    <% end %>
		<td><a href="/r/member/show/<%= m[:id]%>">view</a><%if session[:auth_user_roles].include?('mbr_mgr')%> | <a href="/m/member/edit/<%= m[:id]%>">edit</a><%end%></td>
		</tr>
		<% end %>
	</table>
</div>
