<h3>Add a payment for member <span class="textColor"><%="#{@mbr_pay[:fname]} #{@mbr_pay[:lname]}, #{@mbr_pay[:callsign]}"%></span></h3>
<br />
<script>
  var payFees = JSON.parse('<%=@payFees.to_json%>');
</script>
<form action='/m/payment/new' method='POST' name="mbrPay" onsubmit="return validateMbrPayForm()">
  <input type="hidden" name="mbr_id" value=<%=@mbr_pay[:id]%>>
  <input type="hidden" name="mbr_type_old" value=<%=@mbr_pay[:mbr_type]%>>
  <input type="hidden" name="mbr_paid_up_old" value=<%=@mbr_pay[:paid_up]%>>
  <label for="payment_type_field">Payment type is </label>
  <select name="payment_type" id="payment_type_field" onchange="duesSet(this)">
    <option value="">--Choose type--</option>
    <% @payType.each do |t| %>
      <option value=<%="#{t.values[:id]}"%>><%=t.values[:type]%></option>
    <% end %>
  </select>
  <br />
  <div id="message">
    Member Type:
    <select id="mbr_type" name="mbr_type">
    <%@mbrTypes.each do |mt|%>
      <option value=<%="#{mt}"%> <%=@mbr_type_selected == mt ? "selected" : nil%>><%=mt%></option>
    <%end%>
    </select>
    <br/><br/>Payment Amount: (Pick one, or...)
    <table>
    <%@payFees.each do |k,v|%>
      <%next if k == "none"%>
    <tr><td><%=k%></td><td><%="$#{v}"%></td><td><input type="radio" name="pay_amt" id="pay_amt_<%=k%>" value="<%=v%>" /></td></tr>
    <%end%>
    </table>
    <br/>Choose this to enter payment if different from above, remember to leave notes why you chose other<br/>
    <label for="other_pmt_field">Other Payment Amount (dollar amount only):</label>
    <input type="text" name="other_pmt" id="other_pmt_field" maxlength="3" size="4" />
    <br/>
    <%if @mbr_pay[:mbr_type] == 'family'%>
      <br/><%@mbr_family.each {|mbr|%><%="#{mbr} "%><%}%>membership will also be renewed
    <%end%>
    <br/>
    <p><%="#{@mbr_pay[:fname]} #{@mbr_pay[:lname]} is currently paid through #{@mbr_pay[:paid_up]}"%><br/><br/>
    <label for="paid_up_field">Select a year that this member will be paid up through </label>
    <select name="paid_up" id="paid_up_field">
      <%(0..4).each do |yr|%>
        <option value=<%="#{Time.now.year + yr}"%>><%=Time.now.year + yr%></option>
      <% end %>
    </select>
  </div>
  <br/>
  <label for="payment_method_field">Payment method is </label>
  <select name="payment_method" id="payment_method_field">
  <option value="">--Choose method--</option>
    <% @payMethod.each do |m| %>
      <option value=<%="#{m.values[:id]}"%>><%=m.values[:mode]%></option>
    <% end %>
  </select>
  <br/>
  <label for="notes_field">Notes</label>
  <textarea name="notes" id="notes_field" rows="6" cols="65"></textarea>
  <br/>
	<input type="submit" value="Submit"> | <a href="/r/member/list">Cancel</a>
</form>
