<h3>Add a payment for member <span class="textColor"><%="#{@mbr_pay[:fname]} #{@mbr_pay[:lname]}, #{@mbr_pay[:callsign]}"%></span></h3>
<br />
<script>
  var payFees = JSON.parse('<%=@payFees.to_json%>');
</script>
<form action='/m/payment/new' method='POST' name="mbrPay" onsubmit="return validateMbrPayForm()">
  <input type="hidden" name="mbr_id" value=<%=@mbr_pay[:id]%>>
  <input type="hidden" name="mbr_type_old" id="old_mbr_type" value=<%=@mbr_pay[:mbr_type]%>>
  <input type="hidden" name="mbr_paid_up_old" value=<%=@mbr_pay[:paid_up]%>>
  <label for="payment_type_field">Payment type is </label>
  <select name="payment_type" id="payment_type_field" onchange="duesSet(this)">
    <option value="">--Choose type--</option>
    <% @payType.each do |t| %>
      <option value=<%="#{t.values[:id]}"%>><%=t.values[:type]%></option>
    <% end %>
  </select>
  <br />
  <div id="message">
    Member Type:
    <select id="mbr_type" name="mbr_type" >
    <%@payFees.each do |k,v|%>
      <%next if k == "none"%>
      <option value=<%=k%> id=<%="pay_#{v}"%> <%=@mbr_type_selected == k ? "selected" : nil%>><%="#{k}: $#{v}"%></option>
    <%end%>
    </select>
    <br/><br/>
    <input type="checkbox" name="half_pmt" id="half_pmt"/>
    <label for="half_pmt">This payment is for 1/2 year dues (after June)</label></br>
    <br/><br/>
    <input type="checkbox" name="other_pmt" id="other_pmt" onchange="other_pmtSet(this)"/>
    <label for="other_pmt">Need to record non-standard payment (dollar amount only)</label></br>
    <input type="text" name="other_pmt" id="other_pmt_field" maxlength="3" size="4" disabled/>
    <br/>
    <%if @mbr_pay[:mbr_type] == 'family'%>
      <br/><%@mbr_family.each {|mbr|%><%="#{mbr} "%><%}%>membership will also be renewed unless this renewal is non-family type
    <%end%>
    <br/>
    <p><%="#{@mbr_pay[:fname]} #{@mbr_pay[:lname]} is currently paid through #{@mbr_pay[:paid_up]}"%><br/><br/>
    <% if @mbr_pay[:paid_up] == 'none' %>
      <% start_cnt = 0 %>
    <% else %>
      <% start_cnt = (@mbr_pay[:paid_up].to_i < Time.now.year) ? 0 : 1 %>
    <% end %>
    <label for="paid_up_field">Select a year that this member will be paid up through </label>
    <select name="paid_up" id="paid_up_field">
      <%(start_cnt..4).each do |yr|%>
        <option value=<%="#{Time.now.year + yr}"%>><%=Time.now.year + yr%></option>
      <% end %>
    </select>
  </div>
  <br/>
  <label for="payment_method_field">Payment method is </label>
  <select name="payment_method" id="payment_method_field">
  <option value="">--Choose method--</option>
    <% @payMethod.each do |m| %>
      <option value=<%="#{m.values[:id]}"%>><%=m.values[:mode]%></option>
    <% end %>
  </select>
  <br/>
  <label for="notes_field">Notes</label>
  <textarea name="notes" id="notes_field" rows="6" cols="65"></textarea>
  <br/>
	<input type="submit" value="Submit"> | <a href="/r/member/list">Cancel</a>
</form>
