<h3>Add a payment for member <span class="textColor"><%="#{@mbr_pay[:fname]} #{@mbr_pay[:lname]}, #{@mbr_pay[:callsign]}"%></span></h3>
<br />
<script>
  var payFees = JSON.parse('<%=@payFees.to_json%>');
</script>
<form action='/m/payment/new' method='POST' name="mbrPay" onsubmit="return validateMbrPayForm()">
  <input type="hidden" name="mbr_id" value=<%=@mbr_pay[:id]%>>
  <input type="hidden" name="mbrship_renewal_date_old" value=<%=@mbr_pay[:mbrship_renewal_date]%>>
  <input type="hidden" name="mbr_type_old" id="old_mbr_type" value=<%=@mbr_pay[:mbr_type]%>>
  <label for="payment_type_field">Payment type is </label>
  <select name="payment_type" id="payment_type_field" onchange="duesSet(this)">
    <option value="">--Choose type--</option>
    <% @payType.each do |t| %>
      <option value=<%="#{t.values[:id]}"%>><%=t.values[:type]%></option>
    <% end %>
  </select>
  <br />
  <div id="message">
    Member Type:
    <select id="mbr_type" name="mbr_type" >
    <%@payFees.each do |k,v|%>
      <%next if k == "none"%>
      <option value=<%=k%> id=<%="pay_#{v}"%> <%=@mbr_type_selected == k ? "selected" : nil%>><%="#{k}: $#{v}"%></option>
    <%end%>
    </select>
    <br/><br/>
    <input type="checkbox" name="other_pmt" id="other_pmt" onchange="other_pmtSet(this)"/>
    <label for="other_pmt">Need to record non-standard payment</label></br>
    <input type="text" name="other_pmt" id="other_pmt_field" maxlength="5" size="4" disabled/>
    <label for="other_pmt_field">Enter this non-standard payment here (dollar amount only)</label>
    <br/>
    <%if !@mbr_pay[:renewal_too_early].nil?%>
      <p style="color: red;">This member is renewing too early, their next renewal date is one year from <%=Date.parse(@mbr_pay[:mbrship_renewal_date].to_s)%>.</p>
      <p>Their renewal date will be set with today&#39;s date effectively shortening their last dues payment
    <%end%>
      
    <%if @mbr_pay[:mbr_type] == 'family'%>
      <br/><%@mbr_family.each {|mbr|%><%="#{mbr} "%><%}%>membership will also be renewed unless this renewal is non-family type
      <p>If dues payment is for non-family type, then this family member will be removed from family unit and no other members of this
      family will have a membership renewal.
    <%end%>
    <br/>
    <p>After this payment is submitted, <%="#{@mbr_pay[:fname]} #{@mbr_pay[:lname]} will have the following
    membership renewal date #{(@mbr_pay[:new_renewal_date].strftime('%d, %b %Y'))}."%>
    <p>If needed, use the edit member details page to change this date after you submit this payment<br/>
    <table>
        <thead>
            <tr>
                <th colspan="2">Member Renewal Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>suspend renewals: <%=@mbr_pay[:halt_mbrship_renewal]%></td>
                <td>membership renewal active: <%=@mbr_pay[:mbrship_renewal_active]%></td>
            </tr>
            <tr>
                <td>times contacted: <%=@mbr_pay[:mbrship_renewal_contacts]%></td>
                <%if @mbr_pay[:mbrship_renewal_date].nil? %>
                  <td>current renewal date: N.A.</td>
                <% else %>
                  <td>current renewal date: <%=@mbr_pay[:mbrship_renewal_date].strftime('%d, %b %Y')%></td>
                <% end %>
            </tr>
        </tbody>
    </table>
    <p><%="The last recorded dues payment was made on: #{@mbr_pay[:last_dues_pmt_date]}"%><br/><br/>
    <table>
        <thead>
            <tr>
                <th colspan="3">Member Renewal Event Details</th>
            </tr>
            <tr>
            <th>Event Type</th>
            <th>Notes</th>
            <th>Date</th>
            </tr>
        </thead>
        <tbody>
        <%@mbr_renewal_events.each do |event|%>
            <tr>
                <td><%=event[:renewal_event_type]%></td>
                <td><%=event[:notes]%></td>
                <td><%=event[:ts].strftime('%Y %b %a')%></td>
            </tr>
        <%end%>
       </tbody>
    </table>
 </div>
  <div id="nonDues">
  <label for="nonDues_amt_field">Payment amount (with or without decimal eg 23.00 or 23)</label>
    <input type="text" name="nonDues_pmt" id="nonDues_pmt_field" maxlength="7" size="4" disabled onfocusout="validatePayAmt(this)"/>
  </div>
  <br/>
  <label for="payment_method_field">Payment method is </label>
  <select name="payment_method" id="payment_method_field">
  <option value="">--Choose method--</option>
    <% @payMethod.each do |m| %>
      <option value=<%="#{m.values[:id]}"%>><%=m.values[:mode]%></option>
    <% end %>
  </select>
  <br/>
  <label for="notes_field">Notes</label>
  <textarea name="notes" id="notes_field" rows="6" cols="65"></textarea>
  <br/>
	<input type="submit" value="Submit"> | <a href="/r/member/list">Cancel</a>
</form>
