<h3>Add a payment for member <span class="textColor"><%="#{@mbr_pay[:fname]} #{@mbr_pay[:lname]}, #{@mbr_pay[:callsign]}"%></span></h3>

<form action='/admin/member/renew' method='POST' name="mbrPay" onsubmit="return validateMbrPayForm();">
  <input type="hidden" name="mbr_id" value=<%=@mbr_pay[:id]%>>
  <input type="hidden" name="mbr_type_old" value=<%=@mbr_pay[:mbr_type]%>>
  <input type="hidden" name="mbr_paid_up_old" value=<%=@mbr_pay[:paid_up]%>>
  <p>Membership status</p>
  Member Type:
  <select id="mbr_type" name="mbr_type">
	  <option value="full" <%=@mbr_pay[:mbr_type] == 'full' ? "selected" : nil%>>Full</option>
	  <option value="student" <%=@mbr_pay[:mbr_type] == 'student' ? "selected" : nil%>>Student</option>
	  <option value="family" <%=@mbr_pay[:mbr_type] == 'family' ? "selected" : nil%>>Family</option>
	  <option value="honorary" <%=@mbr_pay[:mbr_type] == 'honorary' ? "selected" : nil%>>Honorary</option>
  </select>
  <br/>
  <p><%="#{@mbr_pay[:fname]} #{@mbr_pay[:lname]} is currently paid through #{@mbr_pay[:paid_up]}"%><br/><br/>
  <label for="paid_up">New paid through year will be </label>
  <select name="paid_yr" id="paid_yr_field">
  <%currentYr = Time.new.year%>
  <%(0..5).each do |yr|%>
    <option><%=currentYr > @mbr_pay[:paid_up] ? currentYr + yr : @mbr_pay[:paid_up] + yr +1%></option>
  <% end %>
  </select>
  <br/>
  <label for="notes_field">Notes</label>
  <textarea name="notes" id="notes_field" rows="6" cols="65"></textarea>
  <br/>
	<input type="submit" value="Submit" onsubmit="validateMbrPayForm()"> | <a href="/list/members">Cancel</a>
</form>
