</br>
<h4>Members with active renewals: <%=@active_members.size%></h4>
<% if @active_members.size >0 %>
<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Callsign</th>
      <th>Contacts</th>
      <th>Renewal Date</th>
      <th></th>
    </tr>
		<% @active_members.each do |am| %>
      <tr>
        <td><%="#{am[:fname]} #{am[:lname]}"%></td>
        <td><%= am[:callsign]%></td>
        <td><%= am[:mbrship_renewal_contacts]%></td>
        <td><%= !am[:mbrship_renewal_date].nil? ? am[:mbrship_renewal_date].strftime("%Y, %b, %d") : "no date"%></td>
        <td><a href=<%="/r/member/show/#{am[:id]}"%>>view</a></td>
      </tr>
    <% end %>
  </table>
</div>
<% else %>
  <h3>There are no members with active renewals at this time</h3>
<% end %>
<h4>Member renewal events</h4>
<div>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Recorded By</th>
			<th>Record Type</th>
			<th>Notes</th>
			<th>Date</th>
		</tr>
		<% @renewals.each do |r| %>
			<tr>
				<td><%=r[:fname]%></td>
				<td><%=r[:lname]%></td>
				<td><%=r[:recorded_by]%></td>
				<td><%=r[:event_type]%></td>
				<td><%=r[:notes][0,20]%></td>
				<td><%=r[:ts].strftime("%Y, %b, %d")%></td>
				<%if session[:auth_user_roles].include?('mbr_mgr')%><td><a href="/m/mbr_renewals/edit/<%= r[:id]%>">edit</a> | <a href="/m/mbr_renewals/destroy/<%= r[:id]%>">delete</a></td><%end%>
			</tr>
		<% end %>
	</table>
</div>
