<h3>Enter New Member renewal information for <span class="textColor"><%="#{@mbr_renewal[:fname]} #{@mbr_renewal[:lname]}"%></span></h3>
<form action='/m/mbr_renewals/new' method='POST' name="mbrRenewal" onsubmit="return validateNewRnwlForm()">
	<input type="hidden" name="mbr_id" value="<%=@mbr_renewal[:id]%>">
  <br />
	<h5>Member Table info</h5>
	<label for="mbrship_renewal_date">Membership Renewal Date (MM/DD/YY)</label>
	<input type="text" name="mbrship_renewal_date" value="<%=@mbr_renewal[:mbrship_renewal_date].strftime("%D")%>" id="mbrship_renewal_date" onfocusout="validateMbrRnwlDate(this)">
	<br />Halt Membership Renewals?
	<label for="mbrship_renewal_halt_true">True</label>
	<input type="radio" name="mbrship_renewal_halt" <% if @mbr_renewal[:mbrship_renewal_halt] == true %>checked<%end%> id="mbrship_renewal_halt_true" value="true">
	<label for="mbrship_renewal_halt_false">False</label>
		<input type="radio" name="mbrship_renewal_halt" <% if @mbr_renewal[:mbrship_renewal_halt] == false %>checked<%end%> id="mbrship_renewal_halt_false" value="false">
	<br />Membership Renewal Active?
	<label for="mbrship_renewal_active_true">True</label>
	<input type="radio" name="mbrship_renewal_active" <% if @mbr_renewal[:mbrship_renewal_active] == true %>checked<%end%> id="mbrship_renewal_active_true" value="true">
	<label for="mbrship_renewal_active_false">False</label>
		<input type="radio" name="mbrship_renewal_active" <% if @mbr_renewal[:mbrship_renewal_active] == false %>checked<%end%> id="mbrship_renewal_active_false" value="false">
	<br />
	<label for="mbrship_renewal_contacts">Times contacted</label>
	<select name="mbrship_renewal_contacts" id=mbrship_renewal_contacts>
		<option value="0" <%if @mbr_renewal[:mbrship_renewal_contacts] == 0%>selected = true<%end%>>0</option>
		<option value="1" <%if @mbr_renewal[:mbrship_renewal_contacts] == 1%>selected = true<%end%>>1</option>
		<option value="2" <%if @mbr_renewal[:mbrship_renewal_contacts] == 2%>selected = true<%end%>>2</option>
	</select>
	<br />
	<hr />
	<h5>Membership Renewal Table info</h5>
	<p>Renewal Event Type</p>
	<table>
		<%@renewal_event_types_array.each do |et|%>
		<tr>
			<td><input type="radio" name="event_type" id=<%="et_#{et[:id]}"%>
				 value=<%=et[:id]%>></td>
			<td><label for=<%="et_#{et[:id]}"%>><%=et[:name]%></label></td>
		</tr>
		<%end%>
	</table>
	<br />
	<label for="notes">Notes:</label>
	<input type="text" name="notes" value="Enter notes here" id="notes"/>
	<br />
 	<input type="submit" value="Submit"/> | <a href="/m/mbr_renewals/show">Cancel</a>
</form>