<h2>Union of PARC and ARRL membership</h2>
<table>
<tr><td>Yes ARRL</td><td><%=@rpt[:arrl]%></td></tr>
<tr><td>No ARRL</td><td><%=@rpt[:not_arrl]%></td></tr>
<tr><td>Total</td><td><%=@rpt[:total]%></td></tr>
</table>
</br>
<h2>Breakdown by license class</h2>
<table>
<tr><td>None</td><td><%=@rpt[:lic_none]%></td></tr>
<tr><td>Tech</td><td><%=@rpt[:lic_tech]%></td></tr>
<tr><td>General</td><td><%=@rpt[:lic_gen]%></td></tr>
<tr><td>Extra</td><td><%=@rpt[:lic_extra]%></td></tr>
</table>
<h2>Breakdown by member type</h2>
<table>
<tr><td>Honorary</td><td><%=@rpt[:type_honorary]%></td></tr>
<tr><td>Full</td><td><%=@rpt[:type_full]%></td></tr>
<tr><td>Family</td><td><%=@rpt[:type_family]%></td></tr>
<tr><td>Student</td><td><%=@rpt[:type_student]%></td></tr>
</table>
<h2>Voting members with emails</h2>
<%=@voting_email%>
<h2>Voting members with NO email</h2>
<%=@voting_other%>