<%#
:fname	:lname	:email	:city	:street
:zip	:state	:callsign	:phm	:phm_pub
:phh	:phh_pub	:phw	:phw_pub
:license_class	:mbr_type	:paid_up	:arrl
:arrl_expire	:ares	:net	:ve	:elmer
:SOTA
%>
<h1>Member: <%="#{@member[:fname]} #{@member[:lname]}, #{@member[:callsign]}"%></h1>
<p>Address: <%="#{@member[:street]}"%><br />
	<%="#{@member[:city]} #{@member[:state]} #{@member[:zip]}"%><br /></p>
	<p>Email: <%=@member[:email]%> | Okay to use for contact about club activities? <%=@member[:ok_to_email] == true ? "Yes" : "No"%> 
<p>Phone:<br /><span class="textColor">Home</span> <%="#{@member[:phh]} publish? "%><span class="highlight"><%=@member[:phh_pub].to_i == 0 ? "N" : "Y"%></span><br />
<p><span class="textColor">Work</span> <%="#{@member[:phw]} publish? "%><span class="highlight"><%=@member[:phw_pub].to_i == 0 ? "N" : "Y"%></span><br />
<p><span class="textColor">Mobile</span> <%="#{@member[:phm]} publish? "%><span class="highlight"><%=@member[:phm_pub].to_i == 0 ? "N" : "Y"%></span><br />
<h3>Membership Details</h3>
<p>First recorded this member on <%=@member[:mbr_since]%>
<p>License class: <span class="highlight"><%=@member[:license_class]%></span>, member type: <span class="highlight"><%=@member[:mbr_type]%></span>, paid through <span class="highlight"><%=@member[:paid_up]%></span><br />
Other affiliations:<br />ARRL: <span class="highlight"><%=@member[:arrl].to_i == 0 ? "N" : "Y (expire #{@member[:arrl_expire]})"%></span> | ARES: <span class="highlight"><%=@member[:ares].to_i == 0 ? "N" : "Y"%></span> | Portland NET: <span class="highlight"><%=@member[:net].to_i == 0 ? "N" : "Y"%></span> | SOTA: <span class="highlight"><%=@member[:sota].to_i == 0 ? "N" : "Y"%></span><br />
Volunteer:<br />VE <span class="highlight"><%=@member[:ve].to_i == 0 ? "N" : "Y"%></span> | Elmer <span class="highlight"><%=@member[:elmer].to_i == 0 ? "N" : "Y"%></span> | SOTA <span class="highlight"><%=@member[:sota].to_i == 0 ? "N" : "Y"%></span></p>
<h4>Modes:</h4>
<%if @member[:modes] == 'none'%>
  <%='none selected'%>
<%else%>
  <%@member[:modes].split(",").each do |mi|%>
    <%=" #{@modes[mi]} |"%>
  <%end%>
<%end%>
<br />
<%if session[:auth_user_roles].include?('mbr_mgr') || MemberTracker::Auth_user[session[:auth_user_id]].member.id == @member[:id]%><a href="/m/member/edit/<%= @member[:id]%>">Edit Member Details</a><%end%><br />
<h4>Log notes:</h4>
<a href="/m/log/create/<%=@member[:id]%>">Add a log note for this member</a>
<br />
<%@member.logs_dataset.order(:id).each do |l|%>
  ################################
  <br />Auth User <%="#{l.auth_user.member.fname} #{l.auth_user.member.lname}, #{l.auth_user.member.callsign}"%>
  <p>Date <%=l.ts.strftime("%m-%d-%y")%></p>
  <p><%=l.notes%></p>
<%end%>