<%#
:fname	:lname	:email	:apt	:city	:street
:zip	:state	:callsign	:phm	:phm_pub
:phh	:phh_pub	:phw	:phw_pub
:license_class	:mbr_type	:paid_up	:arrl
:arrl_expire	:ares	:net	:ve	:elmer
:SOTA
%>
<h1>Member: <%="#{@member[:fname]} #{@member[:lname]}, #{@member[:callsign]}"%></h1>
<p>Address: <%="#{@member[:street]} #{@member[:apt]}"%><br />
	<%="#{@member[:city]} #{@member[:state]} #{@member[:zip]}"%><br /></p>
	<p>Email: <%=@member[:email]%>
<p>Phone:<br /><span class="textColor">Home</span> <%="#{@member[:phh]} publish? "%><span class="highlight"><%=@member[:phh_pub].to_i == 0 ? "N" : "Y"%></span><br />
<p><span class="textColor">Work</span> <%="#{@member[:phw]} publish? "%><span class="highlight"><%=@member[:phw_pub].to_i == 0 ? "N" : "Y"%></span><br />
<p><span class="textColor">Mobile</span> <%="#{@member[:phm]} publish? "%><span class="highlight"><%=@member[:phm_pub].to_i == 0 ? "N" : "Y"%></span><br />
<h3>Membership Details</h3>
<p>License class: <span class="highlight"><%=@member[:license_class]%></span>, member type: <span class="highlight"><%=@member[:mbr_type]%></span>, paid through <%=Time.new.year%>: <span class="highlight"><%=@member[:paid_up].to_i == 0 ? "N" : "Y"%></span><br />
Other affiliations:<br />ARRL: <span class="highlight"><%=@member[:arrl].to_i == 0 ? "N" : "Y (expire #{@member[:arrl_expire]})"%></span> | ARES: <span class="highlight"><%=@member[:ares].to_i == 0 ? "N" : "Y"%></span> | Portland NET: <span class="highlight"><%=@member[:net].to_i == 0 ? "N" : "Y"%></span> | SOTA: <span class="highlight"><%=@member[:sota].to_i == 0 ? "N" : "Y"%></span><br />
Volunteer:<br />VE <span class="highlight"><%=@member[:ve].to_i == 0 ? "N" : "Y"%></span> | Elmer <span class="highlight"><%=@member[:elmer].to_i == 0 ? "N" : "Y"%></span> | SOTA <span class="highlight"><%=@member[:sota].to_i == 0 ? "N" : "Y"%></span></p>

	 
<a href="/edit/member/<%= @member[:id]%>">Edit</a><form action="/destroy/member/<%= @member[:id]%>" method="post">
	<input type="submit" value="Delete Member?"></form>