<h3>Survey questions chosen</h3>
<table>
  <% @responses_selected_display.each do |rs| %>
    <tr>
      <% rs.each do |r| %>
        <td><%= r %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<hr />
<h3>Results</h3>
<table>
  <tr><th></th><th></th><th></th><th>Renewal date</th><th></th><th>Mbr since</th><th></th></tr>
  <% @mbrs_in_survey.each do |mbr| %>
    <tr>
      <td><%= mbr[:fname] %></td>
      <td><%= mbr[:lname] %></td>
      <td><%= mbr[:callsign] %></td>
      <td><%= mbr[:ren_date] %></td>
      <td><%= mbr[:email] %></td>
      <td><%= mbr[:mbr_since] %></td>
      <td><a href=<%="/r/member/show/#{mbr[:mbr_id]}"%>>View</a></td>
    </tr>
  <% end %>
</table>
<textarea id="text-box" ><%="#{@emails[0...-2]}"%></textarea>
<button onclick="selectText()">Select emails</button>
