<h3>Set Roles for <%="#{@sel_au_mbr[:fname]} #{@sel_au_mbr[:lname]}, #{@sel_au_mbr[:callsign]}: #{@sel_au_mbr[:email]}"%></h3>
Rolls are hierarchical, a roll includes all rolls of lower rank
<form action="/a/create_auth_user" method="POST" name="auRoles" onsubmit="return validateAssignRoleForm();">
	<input type="hidden" name="mbr_id" value=<%=@sel_au_mbr[:id]%>>
	<% for role in @roles%>
		<input type="radio" name="role_id" id=<%="role_#{role[:id]}"%> value=<%=role[:id]%>>
		<label for=<%="#{role[:id]}"%>><%="#{role[:description]} rank: #{['hi', 'med', 'lo'][role[:rank]]}"%></label><br />
	<% end %>
  <br />
  <label for="notes_field">Leave notes for this change in roles here</label>
  <textarea name="notes" id="notes_field" rows="3" cols="65"></textarea>
  <br />
	<input type="submit" value="Submit" onsubmit="validateAssignRoleForm()">
</form>