<h3>Build a new unit</h3>
<form action='/new/unit' method='POST' name='new_unit' onSubmit="return validateUnitNewForm()">
Unit Type:
<select id="unit_type" name="unit_type_id">
  <option value="none" selected>Select unit type</option>
  <% for unit_type in @unit_type %>
    <option value=<%=unit_type[:id]%>><%=unit_type[:type]%></option>
  <%end%>
</select>
<div>
<br/>
<label for="unit_name">Name of Unit</label>
<input type='text' name='unit_name' id="unit_name"/>
<br/>
<label for="unit_notes">Notes for this Unit</label>
<input type='text' name='unit_notes' id="unit_notes"/>
<h3>Pick members of this unit</h3>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>call</th>
      <th>elmer</th>
			<th>select</th>
		</tr>
		<% for member in @member %>
		<tr>
		<td><%=member[:fname]%></td>
		<td><%=member[:lname]%></td>
		<td><%=member[:callsign]%></td>
		<td><%=member[:elmer]%></td>
		<td><input type='checkbox' name='id:<%=member[:id]%>:<%=member[:elmer]%>' value='1'/></td>
		</tr>
		<% end %>
	</table>
</div>
<input type='submit' value='Submit'\> | <a href="/list/units/all">Cancel</a>
</form>
