<h3>Update Roles for <%="#{@mbr_to_update[:fname]} #{@mbr_to_update[:lname]}, #{@mbr_to_update[:callsign]}: #{@mbr_to_update[:email]}"%></h3>
<form action="/a/update_auth_user" method="POST" name="auRoles" onsubmit="return validateAssignRoleForm();">
	<input type="hidden" name="mbr_id" value=<%=@mbr_to_update[:id]%>>
  <p>Authorized User Status: <%if @mbr_to_update[:role_id].is_a?(Integer)%>Active<%else%>Inactive<%end%></p>
    <br />
  <%# expect @au_roles = [[:role_id, :role_description],[]] %>
  <div id="roles">
  <p>Authorized User Role:</p>
	<% for role in @au_roles%>
    <label for=<%="#{role[1]}"%>><%=role[2]%></label>
		<input type="radio" name="role_id" value=<%="#{role[1]}"%> <% if @mbr_to_update[:role_id] == role[1] %>checked="checked"<% end %>>
	<% end %>
  </div>
  <br />
  <label for="notes_field">Leave notes for this change in roles here</label>
  <textarea name="notes" id="notes_field" rows="3" cols="65"></textarea>
  <br />
	<input type="submit" value="Submit" onsubmit="validateAssignRoleForm()">
</form>